---
layout: default-homepage
---

<div class="row">
    <div class="col-xs-12">
        <div class="well intro">
            <p>
                Hej! Witaj na <strong>FrontNinja</strong> - blogu o tematyce front-end. Jest to miejsce, w którym zamieszczam teksty związane z JavaScript, HTML oraz innymi zagadnieniami ze świata web dev. Zapraszam serdecznie!
            </p>
        </div>
    </div>
</div>

<div class="row home">
    <div class="col-xs-12">

        <section>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-heading">Najnowsze posty</h1>
                </div>
            </div>

            {% include posts-list.html %}
        </section>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <br/>
        <br/>
        {% include tagcloud.html %}
    </div>
</div>

