.tag-page {
    > h1 {
        font-size: 2.0em;
        
    }

    .tag-excerpt {
        margin-bottom: 0.5em;
    
        > h2 {
            margin-bottom: 0.3em;
            font-size: 1.4em;
        }
    
        > p {
            font-size: 1.0em;
            color: #555;
        }
    }
}